[Unit]
Description=Mount SSD /mnt/slow-games
After=network-online.target
Wants=network-online.target

[Mount]
What=UUID=dc308970-cee1-4914-8a5e-78a1488c32ab"
Where=/mnt/slow-games
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target

