[Unit]
Description=Mount SMB Share at /media/cloud
ExecStartPre=/bin/sleep 5
Requires=network-online.target
After=default.target

[Mount]
What=//192.168.0.7/cloud
Where=/media/cloud
Type=cifs
Options=credentials=/.smbcreds,rw,iocharset=utf8,uid=1000,gid=1000,file_mode=0755,dir_mode=0755
[Install]
WantedBy=multi-user.target

